* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

:root {
    --color1 : #fafafacc;
    --bgc1 : rgba(219, 223, 224, 0.781);
    --bgc2 : rgb(192, 255, 255);
    --bgc3 : rgba(183, 185, 185, 0.836);
    --color2: whitesmoke;
    --color3: rgba(215, 221, 221, 0.918);
    --color4: #00FFBF;
    --color5: #FFFFFF;
    --color6: #F9F9F9;
    --color7: #555555;
}
.app {
    overflow: hidden;
}
button {
    cursor: pointer;
}

/* Styling the main page */

.search-btn {
    display: flex;
    justify-content: space-between;
    padding:0 20px;
}
.project-header .fa-solid {
    font-size: 28px;
    color:rgb(187, 25, 25);
}
/* test editable */
#hero {
    padding: 20px;
    width: 80%;
    min-width: 700px;
    height: 70vh;
    overflow-y: scroll;
    
}
#hero div {
    margin-bottom: 5px;
}
/* test editable */
textarea:focus {
    outline: none;
}
#nav-bar h3, #nav-bar h4 {
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    height: 5vh;
}
.socials .top {
    background-color: var(--color6);
}
.hide-footer {
    display: none;
}
#menu {
    display: none;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5px rgba(226, 224, 224, 0.795); 
}
::-webkit-scrollbar-thumb {
    background: rgba(226, 226, 226, 0.822); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #B2BEB5; 
}

/* login */
@media screen and (max-width: 1150px) {
    #nav-bar h3, #nav-bar h4, #nav-bar br {
        display: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
@media screen and (max-width: 1050px) {

    /* login */
    /* login */
    /* Account */
    .search-btn {
        flex-direction: column;
        align-items: end;
        gap: 10px;
        background-color: white;
    }
    .search-btn h4 {
        display: none;
    }
    /* Account */
    /* account trials */
    /*  */
    .piece .fa-solid  {
        font-size: 30px;
    }
#hero {
    padding: 5px;
    width: 100%;
}
#hero div {
    max-width: 95vw !important;
}
#hero div textarea{
    max-width: 95vw !important;
}
/* account trials */
    /* account trials */
/* peer revs */

/* peer revs */
/* socials */
}

@media screen and (max-width: 500px) {
.in-project .project-header h4 {
    display: none;
}
.in-project .project-header h3 {
    font-size: 0.95rem;
}
.in-project .project-header .fa-solid {
    font-size: 25px;
}
.randoms-body {
    justify-content: space-around;
}
}