* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

:root {
    --color1 : #fafafacc;
    --bgc1 : rgba(219, 223, 224, 0.781);
    --bgc2 : rgb(192, 255, 255);
    --bgc3 : rgba(183, 185, 185, 0.836);
    --color2: whitesmoke;
    --color3: rgba(215, 221, 221, 0.918);
    --color4: #00FFBF;
    --color5: #FFFFFF;
    --color6: #F9F9F9;
    --color7: #555555;
}
.app {
    overflow: hidden;
}
button {
    cursor: pointer;
}
textarea:focus {
    outline: none;
}

.top {
    background-color: var(--color6);
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5px rgba(226, 224, 224, 0.795); 
}
::-webkit-scrollbar-thumb {
    background: rgba(226, 226, 226, 0.822); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #B2BEB5; 
}


@media screen and (max-width: 1150px) {
    ::-webkit-scrollbar {
        display: none;
    }
}