.top {
    width: inherit;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.top p:first-of-type {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.top a {
    text-decoration: none;
    color: black;
}
.logo {
    height: 8vh;
    width: 100px;
    object-fit: cover;
}
.loginLink {
    border: 2px solid;
    height: 6vh;
    width: 110px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.loginLink:hover {
    background-color: black;
    color: white;
    border: none;
}

/* for loading */
.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    opacity: .7;
}
.loader {
    border: 10px solid gray;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-top: 10px solid transparent;
    animation: load linear infinite 0.5s;
}
@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* for loading */

@media screen and (max-width: 1050px) {
    .top {
        padding: 0 20px;
    }
    .loginLink {
        width: max-content;
        height: max-content;
        padding: 5px 10px;

    }
}